<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit. Lorem ipsum, dolor sit amet consectetur elit.</p>
    <a href="https://clickselly.com" class="btn btn-primary btn-lg" target="_blank">Clickselly</a>
</div>